
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-signin' }) do |f| %>
  
  <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>

  <% if !devise_error_messages!.empty? %>
    <div class="alert alert-error">
      <%= devise_error_messages! %>
    </div>
  <% end %>

  <%= f.email_field :email, :autofocus => true, :class => 'input-block-level', :placeholder => 'Email address' %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off", :class => 'input-block-level', :placeholder => 'New Password' %></div>
  <%= f.password_field :password_confirmation, :class => 'input-block-level', :placeholder => 'Confirm New Password' %>

  <div><i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, :class => 'input-block-level', :placeholder => 'Old Password' %></div>

  <div>
    <%= f.submit "Update", :class => 'btn btn-primary' %> or <%= link_to "Back to Home page", projects_path %>
  </div>
  
<% end %>

<div class="form-signin">
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary' %>.</p>
</div>