
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-signin', :style => 'max-width:400px' }) do |f| %>
  
  <h2 class="form-signin-heading">Forgot your password?</h2>

  <% if !devise_error_messages!.empty? %>
    <div class="alert alert-error">
      <%= devise_error_messages! %>
    </div>
  <% end %>

  <%= f.email_field :email, :autofocus => true, :class => 'input-block-level', :placeholder => "Email address" %>

  <div><%= f.submit "Send me reset password instructions", :class => 'btn btn-primary' %></div>
  <br />
  <%= render "devise/shared/links" %>
<% end %>
