<!DOCTYPE html>
<html>
<head>
  <title> <%= @page_title || "Project.IO" %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="navbar-inner">
	  	<div class="container-fluid">
	  		<% if user_signed_in? %>
		    	<%= link_to "<?Project.IO?>", projects_path, :class => "brand" %>
		   	<% else %>
		   		<%= link_to "<?Project.IO?>", root_path, :class => "brand" %>
		   	<% end %>

		    <ul class="nav">
		      
		      <% if user_signed_in? %>
		      	<li class="active"> <%= link_to "Home", projects_path %> </li>

		      	<li class='active'>
		      		<%= link_to current_user.email, edit_user_registration_path %>
		      	</li>

		      	<li class='active'>
		      		<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		      	</li>
		      <% else %>
		      	<li class="active"> <%= link_to "Home", root_path %> </li>

		      	<li class='active'>
		      		<%= link_to "Login", new_user_session_path %>
		      	</li>

		      	<li class='active'>
		      		<%= link_to "Sign Up", new_user_registration_path %>
		      	</li>

		      <% end %>
		    </ul>
		</div>
	  </div>
	</div>

	<div style="margin-top:30px" class='container-fluid'>

		<% if notice %>
			<div class='alert alert-success'>
				<%= notice %>
			</div>
        <% end %>

  		<% if alert %>
			<div class='alert alert-error'>
				<%= alert %>
			</div>
  		<% end %>

		<%= yield %>

	</div>

</body>
</html>
